<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Speakers</title>
  </head>

  <body>

      <h1>Conférencier(s)</h1>

      <a href="{% url 'add_speaker' %}"><button>+</button></a>
      <a href="{% url 'add_speaker_cbv' %}"><button>+ (cbv)</button></a>

      {% for speaker in speakers %}

        <h2>{{ speaker.name }} <a href="{% url 'update_speaker' speaker.pk %}"><button>modifier</button></a></h2>

        <p><b>Présentation(s) :</b><br />

        {% for talk in speaker.talk_set.all %}
          - {{ talk.title }} : {{ talk.content }}<br />
        {% endfor %}

        <p>

      {% endfor %}

  </body>
</html>
